body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
}

.button{
    padding: 6px;
    border-radius: 10px;
    background-color: aqua;

}

.title{
    text-align: center;
    font-size: 30px;
    color: brown;
    font-style: italic;
}

.wrapper{
    display: flex;
    justify-content: space-between;

}
input{
    margin-bottom: 20px;
    border-radius: 5px;
    padding:4px 8px;
}
button{
    margin-bottom: 20px;
    border-radius: 5px;
    padding:4px 8px;
    width: 10vw;
    border:none;
    background-color: brown;
    color: white;
}